**Importaciones**

In [2]:
import re
import time
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from scipy import stats
from pandas.api.types import CategoricalDtype
from sqlalchemy import create_engine
from sqlalchemy import text
from sklearn.linear_model import LogisticRegression, Ridge
from statsmodels.miscmodels.ordinal_model import OrderedModel

# **Extracción**

**Conexión con MySQL**

In [4]:
user      = "root"
password  = "etl25"
host      = "localhost"
port      = "3306"
database  = "icfes_raw"

# Crear conexión SQLAlchemy (driver: mysql-connector)
url = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}"
engine = create_engine(url)

**Extracción de datos**

In [5]:
# Leer todos los datos de la tabla
df_mysql = pd.read_sql("SELECT * FROM examen_saber_11", con=engine)
print(df_mysql.shape)
df_mysql.head()

(676508, 84)

,periodo,estu_consecutivo,estu_estudiante,estu_tipodocumento,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,...,percentil_ingles,percentil_lectura_critica,percentil_matematicas,percentil_sociales_ciudadanas,punt_c_naturales,punt_global,punt_ingles,punt_lectura_critica,punt_matematicas,punt_sociales_ciudadanas
0,20241,SB11202410000447,ESTUDIANTE,TI,URBANO,S,B,ACADÉMICO,311848002351,311848002351,...,89,78,66,91,64,344,84,69,65,72
1,20241,SB11202410095326,ESTUDIANTE,CC,URBANO,None,A,None,311001800618,311001800618,...,23,45,47,24,43,250,47,58,57,43
2,20241,SB11202410095321,ESTUDIANTE,PPT,URBANO,None,B,None,411001800752,411001800752,...,44,23,19,6,53,229,61,49,43,33
3,20241,SB11202410032253,ESTUDIANTE,TI,URBANO,N,B,TÉCNICO/ACADÉMICO,376001007670,376001007670,...,51,28,39,57,63,286,66,51,53,59
4,20241,SB11202410095319,ESTUDIANTE,TI,URBANO,None,B,None,411001800752,411001800752,...,63,46,36,50,55,285,74,59,52,56

**Selección de variables de Interés**

In [6]:
# Variables a excluir del conjunto de datos
excluded_variables = [
    "estu_tipodocumento",
    "estu_consecutivo",
    "cole_cod_dane_establecimiento",
    "cole_cod_dane_sede",
    "cole_cod_depto_ubicacion",
    "cole_cod_mcpio_ubicacion",
    "cole_codigo_icfes",
    "cole_nombre_establecimiento",
    "cole_nombre_sede",
    "cole_sede_principal",
    "estu_agregado",
    "estu_cod_depto_presentacion",
    "estu_cod_mcpio_presentacion",
    "estu_cod_reside_depto",
    "estu_cod_reside_mcpio",
    "estu_discapacidad",
    "estu_etnia",
    "estu_tieneetnia",
    "estu_fechanacimiento",
    "estu_privado_libertad",
    "estu_repite",
    "estu_tieneetnia",
    "estu_tiporemuneracion",
    "fami_situacioneconomica",
    "fami_tieneconsolavideojuegos",
    "fami_tienehornomicroogas",
    "fami_tieneautomovil",
    "fami_tienelavadora",
    "fami_tienemotocicleta",
    "fami_tieneserviciotv",
    "fami_trabajolaborpadre",
    "fami_trabajolabormadre"
]

df_mysql.drop(columns=excluded_variables, inplace=True)

print("Dimensiones después de eliminar:", df_mysql.shape)
df_mysql.head()

Dimensiones después de eliminar: (676508, 53)

,periodo,estu_estudiante,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_mcpio_ubicacion,...,percentil_ingles,percentil_lectura_critica,percentil_matematicas,percentil_sociales_ciudadanas,punt_c_naturales,punt_global,punt_ingles,punt_lectura_critica,punt_matematicas,punt_sociales_ciudadanas
0,20241,ESTUDIANTE,URBANO,S,B,ACADÉMICO,BOGOTÁ,FEMENINO,COMPLETA,BOGOTÁ D.C.,...,89,78,66,91,64,344,84,69,65,72
1,20241,ESTUDIANTE,URBANO,None,A,None,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,23,45,47,24,43,250,47,58,57,43
2,20241,ESTUDIANTE,URBANO,None,B,None,BOGOTÁ,MIXTO,UNICA,BOGOTÁ D.C.,...,44,23,19,6,53,229,61,49,43,33
3,20241,ESTUDIANTE,URBANO,N,B,TÉCNICO/ACADÉMICO,VALLE,MIXTO,TARDE,CALI,...,51,28,39,57,63,286,66,51,53,59
4,20241,ESTUDIANTE,URBANO,None,B,None,BOGOTÁ,MIXTO,UNICA,BOGOTÁ D.C.,...,63,46,36,50,55,285,74,59,52,56

# **Normalización**

In [7]:
df_mysql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676508 entries, 0 to 676507
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        676508 non-null  object
 1   estu_estudiante                676508 non-null  object
 2   cole_area_ubicacion            577927 non-null  object
 3   cole_bilingue                  463331 non-null  object
 4   cole_calendario                577927 non-null  object
 5   cole_caracter                  549448 non-null  object
 6   cole_depto_ubicacion           577927 non-null  object
 7   cole_genero                    577927 non-null  object
 8   cole_jornada                   577927 non-null  object
 9   cole_mcpio_ubicacion           577927 non-null  object
 10  cole_naturaleza                577927 non-null  object
 11  desemp_c_naturales             676508 non-null  object
 12  desemp_ingles                  669200 non-null  object
 13  desemp_lectura_critica         676508 non-null  object
 14  desemp_matematicas             676508 non-null  object
 15  desemp_sociales_ciudadanas     676508 non-null  object
 16  estu_dedicacioninternet        513788 non-null  object
 17  estu_dedicacionlecturadiaria   514872 non-null  object
 18  estu_depto_presentacion        676489 non-null  object
 19  estu_depto_reside              672064 non-null  object
 20  estu_genero                    676505 non-null  object
 21  estu_grado                     579984 non-null  object
 22  estu_horassemanatrabaja        533934 non-null  object
 23  estu_inse_individual           515100 non-null  object
 24  estu_mcpio_presentacion        676489 non-null  object
 25  estu_mcpio_reside              672064 non-null  object
 26  estu_nacionalidad              676507 non-null  object
 27  estu_nse_establecimiento       577911 non-null  object
 28  estu_nse_individual            515100 non-null  object
 29  estu_pais_reside               676507 non-null  object
 30  fami_comecarnepescadohuevo     514383 non-null  object
 31  fami_comecerealfrutoslegumbre  513378 non-null  object
 32  fami_comelechederivados        515204 non-null  object
 33  fami_cuartoshogar              533726 non-null  object
 34  fami_educacionmadre            515918 non-null  object
 35  fami_educacionpadre            516247 non-null  object
 36  fami_estratovivienda           636991 non-null  object
 37  fami_numlibros                 500816 non-null  object
 38  fami_personashogar             535049 non-null  object
 39  fami_tienecomputador           534021 non-null  object
 40  fami_tieneinternet             515811 non-null  object
 41  percentil_c_naturales          676508 non-null  object
 42  percentil_global               669200 non-null  object
 43  percentil_ingles               669200 non-null  object
 44  percentil_lectura_critica      676508 non-null  object
 45  percentil_matematicas          676508 non-null  object
 46  percentil_sociales_ciudadanas  676508 non-null  object
 47  punt_c_naturales               676508 non-null  object
 48  punt_global                    676508 non-null  object
 49  punt_ingles                    669200 non-null  object
 50  punt_lectura_critica           676508 non-null  object
 51  punt_matematicas               676508 non-null  object
 52  punt_sociales_ciudadanas       676508 non-null  object
dtypes: object(53)
memory usage: 273.6+ MB

Se identificó que todas las variables son de tipo **Object**. Con esto podemos empezar un proceso de **normalización** para que los tipos de datos **correspondan a la naturaleza de las variables**.

**Variables Categóricas Ordinales**

In [8]:
print(df_mysql['desemp_ingles'].unique())
print(df_mysql['estu_dedicacioninternet'].unique())
print(df_mysql['estu_dedicacionlecturadiaria'].unique())
print(df_mysql['estu_horassemanatrabaja'].unique())
print(df_mysql['fami_comecarnepescadohuevo'].unique())
print(df_mysql['fami_comecerealfrutoslegumbre'].unique())
print(df_mysql['fami_comelechederivados'].unique())
print(df_mysql['fami_cuartoshogar'].unique())
print(df_mysql['fami_estratovivienda'].unique())
print(df_mysql['fami_numlibros'].unique())
print(df_mysql['fami_personashogar'].unique())


print(df_mysql['estu_nse_individual'].unique())
print(df_mysql['estu_nse_establecimiento'].unique())


print(df_mysql['desemp_c_naturales'].unique())
print(df_mysql['desemp_lectura_critica'].unique())
print(df_mysql['desemp_matematicas'].unique())
print(df_mysql['desemp_sociales_ciudadanas'].unique())

['B+' 'A-' 'A2' 'B1' 'A1' None]
['Más de 3 horas' 'Entre 1 y 3 horas' None '30 minutos o menos'
 'Entre 30 y 60 minutos' 'No Navega Internet']
['No leo por entretenimiento' '30 minutos o menos' 'Entre 30 y 60 minutos'
 None 'Entre 1 y 2 horas' 'Más de 2 horas']
['0' 'Más de 30 horas' 'Menos de 10 horas' None 'Entre 11 y 20 horas'
 'Entre 21 y 30 horas']
['Todos o casi todos los días' '3 a 5 veces por semana' None
 'Nunca o rara vez comemos eso' '1 o 2 veces por semana']
['Todos o casi todos los días' '1 o 2 veces por semana'
 '3 a 5 veces por semana' None 'Nunca o rara vez comemos eso']
['Todos o casi todos los días' '3 a 5 veces por semana' None
 '1 o 2 veces por semana' 'Nunca o rara vez comemos eso']
['Tres' 'Cinco' None 'Cuatro' 'Dos' 'Uno' 'Seis o mas']
['Estrato 4' 'Estrato 2' 'Estrato 3' None 'Estrato 5' 'Estrato 6'
 'Estrato 1' 'Sin Estrato']
['MÁS DE 100 LIBROS' '11 A 25 LIBROS' '26 A 100 LIBROS' None
 '0 A 10 LIBROS']
['5 a 6' '3 a 4' None '1 a 2' '7 a 8' '9 o más']
['4' '3' None '2' '1']
['4' '3' '2' '1' None]
['3' '2' '4' '1']
['4' '3' '2' '1']
['3' '2' '4' '1']
['4' '2' '1' '3']

**Variables Categóricas Nominales**

In [9]:
print(df_mysql['fami_educacionmadre'].unique())
print(df_mysql['fami_educacionpadre'].unique())

print(df_mysql['estu_estudiante'].unique())
print(df_mysql['cole_calendario'].unique())
print(df_mysql['cole_caracter'].unique())
print(df_mysql['cole_depto_ubicacion'].unique())
print(df_mysql['cole_genero'].unique())
print(df_mysql['cole_jornada'].unique())
print(df_mysql['cole_mcpio_ubicacion'].unique())
print(df_mysql['estu_depto_presentacion'].unique())
print(df_mysql['estu_depto_reside'].unique())
print(df_mysql['estu_mcpio_presentacion'].unique())
print(df_mysql['estu_mcpio_reside'].unique())
print(df_mysql['estu_nacionalidad'].unique())
print(df_mysql['estu_pais_reside'].unique())

print(df_mysql['periodo'].unique())
print(df_mysql['cole_naturaleza'].unique())
print(df_mysql['estu_genero'].unique())
print(df_mysql['cole_area_ubicacion'].unique())

['Postgrado' 'Secundaria (Bachillerato) completa' 'No sabe'
 'Educación profesional completa' None 'Educación profesional incompleta'
 'Primaria completa' 'Técnica o tecnológica completa'
 'Primaria incompleta' 'Secundaria (Bachillerato) incompleta'
 'Técnica o tecnológica incompleta' 'Ninguno' 'No Aplica']
['Postgrado' 'Secundaria (Bachillerato) completa' 'No sabe'
 'Educación profesional completa' 'Técnica o tecnológica completa'
 'Educación profesional incompleta' None
 'Secundaria (Bachillerato) incompleta' 'Primaria completa' 'No Aplica'
 'Primaria incompleta' 'Técnica o tecnológica incompleta' 'Ninguno']
['ESTUDIANTE' 'INDIVIDUAL']
['B' 'A' 'OTRO' None]
['ACADÉMICO' None 'TÉCNICO/ACADÉMICO' 'TÉCNICO' 'NO APLICA']
['BOGOTÁ' 'VALLE' 'QUINDIO' 'CUNDINAMARCA' 'NARIÑO' 'ANTIOQUIA' 'CORDOBA'
 'BOLIVAR' 'CAUCA' 'ATLANTICO' 'SANTANDER' 'RISARALDA' 'CESAR' 'MAGDALENA'
 'HUILA' 'BOYACA' 'CALDAS' 'NORTE SANTANDER' 'META' 'TOLIMA' 'LA GUAJIRA'
 'CASANARE' 'ARAUCA' 'SUCRE' 'CAQUETA' 'PUTUMAYO' 'GUAINIA' 'CHOCO'
 'GUAVIARE' None 'VICHADA' 'AMAZONAS' 'SAN ANDRES' 'VAUPES']
['FEMENINO' 'MIXTO' 'MASCULINO' None]
['COMPLETA' 'SABATINA' 'UNICA' 'TARDE' 'MAÑANA' 'NOCHE' None]
['BOGOTÁ D.C.' 'CALI' 'ARMENIA' ... 'TARAPACÁ' 'VETAS' 'RECETOR']
['BOGOTÁ' 'VALLE' 'QUINDIO' 'CUNDINAMARCA' 'NARIÑO' 'ANTIOQUIA' 'CORDOBA'
 'BOLIVAR' 'CAUCA' 'ATLANTICO' 'TOLIMA' 'SANTANDER' 'RISARALDA' 'CESAR'
 'MAGDALENA' 'HUILA' 'BOYACA' 'CALDAS' 'NORTE SANTANDER' 'META'
 'LA GUAJIRA' 'ARAUCA' 'SUCRE' 'CAQUETA' 'CASANARE' 'SAN ANDRES'
 'PUTUMAYO' 'GUAINIA' 'CHOCO' 'GUAVIARE' 'AMAZONAS' 'VAUPES' 'VICHADA'
 None]
['BOGOTÁ' 'VALLE' 'QUINDIO' 'CUNDINAMARCA' 'NARIÑO' 'ANTIOQUIA' 'CORDOBA'
 'BOLIVAR' 'CAUCA' 'ATLANTICO' 'SANTANDER' 'RISARALDA' 'CESAR' 'MAGDALENA'
 'HUILA' 'BOYACA' 'CALDAS' 'NORTE SANTANDER' 'META' 'TOLIMA' 'LA GUAJIRA'
 'ARAUCA' 'SUCRE' 'CASANARE' 'CAQUETA' 'SAN ANDRES' 'PUTUMAYO' 'GUAINIA'
 'CHOCO' 'GUAVIARE' 'AMAZONAS' 'VICHADA' 'VAUPES' 'EXTRANJERO' None]
['BOGOTÁ D.C.' 'CALI' 'ARMENIA' 'ZIPAQUIRÁ' 'IPIALES' 'ENVIGADO'
 'MONTERÍA' 'PALMIRA' 'CARTAGENA DE INDIAS' 'POPAYÁN'
 'GUADALAJARA DE BUGA' 'BARRANQUILLA' 'IBAGUÉ' 'FACATATIVÁ' 'PASTO'
 'BUCARAMANGA' 'PEREIRA' 'VALLEDUPAR' 'PIEDECUESTA' 'SANTA MARTA'
 'PITALITO' 'MEDELLÍN' 'RIONEGRO' 'SOGAMOSO' 'MANIZALES' 'SOACHA' 'CÚCUTA'
 'CARTAGO' 'VILLAVICENCIO' 'MONTELÍBANO' 'ITAGÜÍ' 'ESPINAL' 'AGUACHICA'
 'OCAÑA' 'GRANADA' 'MAICAO' 'SAN ANDRÉS DE TUMACO'
 'SANTANDER DE QUILICHAO' 'TUNJA' 'BUENAVENTURA' 'ARAUCA' 'SINCELEJO'
 'GIRARDOT' 'TULUÁ' 'NEIVA' 'PATÍA' 'FLORENCIA' 'YOPAL' 'MAGANGUÉ'
 'ROLDANILLO' 'SAN ANDRÉS' 'TÚQUERRES' 'MOCOA' 'BARRANCABERMEJA' 'TIBÚ'
 'APARTADÓ' 'INÍRIDA' 'QUIBDÓ' 'FUSAGASUGÁ' 'BARBOSA' 'LÉRIDA' 'ALBANIA'
 'SAN JOSÉ DEL GUAVIARE' 'PUERTO ASÍS' 'ORITO' 'TAME' 'PAMPLONA'
 'LA DORADA' 'LETICIA' 'EL DONCELLO' 'GIRARDOTA' 'CAUCASIA' 'EL PAUJÍL'
 'SAN GIL' 'MITÚ' 'LA PLATA' 'SARAVENA' 'RIOHACHA' 'CHÍA' 'VILLA DE LEYVA'
 'SIBUNDOY' 'PUERTO CARREÑO' 'MESETAS' 'SONSÓN' 'PAZ DE ARIPORO' 'NUQUÍ'
 'TURBACO' 'MÁLAGA' 'SEVILLA' 'ISTMINA' 'LOS PATIOS' 'JAMUNDÍ'
 'MONTENEGRO' 'TABIO' None 'CHOCONTÁ' 'MIRANDA' 'ACACÍAS' 'URIBIA'
 'FUNDACIÓN' 'SAN ALBERTO' 'TURBO' 'SABANALARGA' 'AMALFI' 'ALTO BAUDÓ'
 'DOSQUEBRADAS' 'SALAZAR' 'PEÑOL' 'CALARCÁ' 'CHAPARRAL' 'BELLO' 'FUNZA'
 'MOGOTES' 'SANTA ROSALÍA' 'LA CEJA' 'ACEVEDO' 'OLAYA HERRERA'
 'VILLA DEL ROSARIO' 'MONIQUIRÁ' 'GUARNE' 'SAN SEBASTIÁN DE BUENAVISTA'
 'CÁCHIRA' 'SAN PELAYO' 'PUERTO TRIUNFO' 'FLORIDABLANCA' 'LORICA' 'GIRÓN'
 'CHIGORODÓ' 'MAJAGUAL' 'CÁCERES' 'AGUSTÍN CODAZZI' 'PARATEBUENO'
 'VILLANUEVA' 'COPACABANA' 'FONSECA' 'MOSQUERA' 'SABANA DE TORRES'
 'NECOCLÍ' 'SANTA ANA' 'PAIPA' 'QUINCHÍA' 'SAN CARLOS' 'VEGACHÍ'
 'PUERTO LÓPEZ' 'SANTO TOMÁS' 'CERETÉ' 'SAN PEDRO DE URABÁ' 'ROVIRA'
 'LA JAGUA DE IBIRICO' 'TAURAMENA' 'ÁBREGO' 'LA VIRGINIA' 'VALENCIA'
 'CIÉNAGA' 'ANDALUCÍA' 'DUITAMA' 'PUERTO GUZMÁN' 'LA UNIÓN' 'AYAPEL'
 'CHARALÁ' 'LA CALERA' 'CORINTO' 'MADRID' 'BUENAVISTA' 'SOLEDAD'
 'ZARAGOZA' 'LA VEGA' 'NOCAIMA' 'PENSILVANIA' 'EL LITORAL DEL SAN JUAN'
 'YARUMAL' 'PUERTO SANTANDER' 'ASTREA' 'MANÍ' 'CAJICÁ' 'AIPE' 'SOCORRO'
 'SALAMINA' 'CHIQUINQUIRÁ' 'FRONTINO' 'BOAVITA' 'MARSELLA' 'CALOTO'
 'PUERTO BERRÍO' 'ARJONA' 'RIOSUCIO' 'VILLETA' 'MIRAFLORES' 'YOLOMBÓ'
 'ZARZAL' 'LA PAZ' 'CANDELARIA' 'EL TAMBO' 'REMEDIOS' 'HATONUEVO'
 'MALAMBO' 'SAMANIEGO' 'MANZANARES' 'YUMBO' 'CIÉNAGA DE ORO' 'SOPETRÁN'
 'SAN MARCOS' 'MARÍA LA BAJA' 'ANDES' 'CUMARIBO' 'SAN ESTANISLAO'
 'MARQUETALIA' 'SAN JUAN DEL CESAR' 'LA ESTRELLA' 'EL CARMEN DE VIBORAL'
 'EL SANTUARIO' 'SUBACHOQUE' 'NÓVITA' 'URRAO' 'GIGANTE'
 'SAN JUAN DE RIOSECO' 'SAN PEDRO' 'PLATO' 'ISNOS'
 'VILLA DE SAN DIEGO DE UBATÉ' 'PALERMO' 'CIUDAD BOLÍVAR' 'CÁQUEZA'
 'NATAGAIMA' 'TIMANÁ' 'FLORIDA' 'EL BANCO' 'MOMPÓS' 'GARAGOA' 'TRUJILLO'
 'PUERTO TEJADA' 'SANTA FÉ DE ANTIOQUIA' 'URIBE' 'CAMPO DE LA CRUZ'
 'JERICÓ' 'PLANETA RICA' 'BARANOA' 'ITUANGO' 'SILVANIA' 'INZÁ' 'BARBACOAS'
 'CIRCASIA' 'CAREPA' 'PACHO' 'VILLAGARZÓN' 'CALDAS' 'SAN LUIS DE GACENO'
 'BALBOA' 'FRESNO' 'SANTIAGO DE TOLÚ' 'EL COCUY' 'PELAYA'
 'SAN ANDRÉS DE SOTAVENTO' 'CAICEDONIA' 'TIERRALTA' 'SAN JOSÉ DEL FRAGUA'
 'SAHAGÚN' 'CHINÁCOTA' 'REPELÓN' 'ALBÁN' 'GUAPÍ' 'ARBOLEDAS' 'SEGOVIA'
 'BUESACO' 'BARRANCAS' 'SAN PABLO' 'EL CERRITO' 'CHINÚ' 'GARZÓN'
 'PUERTO RICO' 'GUACARÍ' 'BELALCÁZAR' 'SAN JUAN DE URABÁ' 'LA MESA'
 'SAN BENITO ABAD' 'SAMACÁ' 'PIVIJAY' 'SABANETA' 'EL COLEGIO'
 'SABANAGRANDE' 'SAN MARTÍN' 'EL TABLÓN DE GÓMEZ'
 'SAN SEBASTIÁN DE MARIQUITA' 'EL TARRA' 'ANSERMA' 'VALLE DEL GUAMUEZ'
 'GALERAS' 'EL BAGRE' 'MARINILLA' 'QUIMBAYA' 'SAN ONOFRE' 'CIMITARRA'
 'CISNEROS' 'SAN VICENTE DE CHUCURÍ' 'SAN JOSÉ DEL PALMAR' 'LA TEBAIDA'
 'ARBOLETES' 'LA MACARENA' 'PINILLOS' 'SAN AGUSTÍN' 'TAMINANGO' 'ANOLAIMA'
 'EL CHARCO' 'BELÉN DE UMBRÍA' 'MELGAR' 'GUAMO' 'DAGUA' 'COROZAL' 'ALCALÁ'
 'VÉLEZ' 'CRAVO NORTE' 'BECERRIL' 'SANDONÁ' 'SANTA ROSA DEL SUR' 'FÓMEQUE'
 'COVEÑAS' 'CHIVOLO' 'MEDINA' 'PUERTO LEGUÍZAMO' 'ACHÍ' 'HONDA' 'FALAN'
 'BOSCONIA' 'VENTAQUEMADA' 'SANTA ROSA DE OSOS' 'RIVERA'
 'PIENDAMÓ - TUNÍA' 'PUERTO NARIÑO' 'SAN JUAN NEPOMUCENO' 'RÍO IRÓ'
 'MOÑITOS' 'SAN VICENTE DEL CAGUÁN' 'CONTRATACIÓN' 'LEBRIJA' 'CURUMANÍ'
 'EL PASO' 'CAMPOALEGRE' 'ARACATACA' 'CHIMICHAGUA' 'AMAGÁ' 'PÁEZ' 'SOATÁ'
 'MANAURE' 'EL RETORNO' 'SAN PEDRO DE LOS MILAGROS' 'AGUADAS' 'SIBATÉ'
 'ZAPATOCA' 'OVEJAS' 'SANTA ROSA DE CABAL' 'NECHÍ'
 'SAN BERNARDO DEL VIENTO' 'SANTA BÁRBARA' 'PUERTO ARICA' 'SIMITÍ'
 'BARRANCO DE LOBA' 'URUMITA' 'TÁMESIS' 'ANORÍ' 'CONDOTO' 'CAJAMARCA'
 'VIOTÁ' 'GUADUAS' 'FRANCISCO PIZARRO' 'TOLEDO' 'PUERTO GAITÁN' 'SUCRE'
 'BAJO BAUDÓ' 'REMOLINO' 'SILVIA' 'CUMBAL' 'ARIGUANÍ' 'MATANZA' 'APÍA'
 'BOLÍVAR' 'EL CARMEN DE BOLÍVAR' 'COYAIMA' 'LÍBANO' 'CHINCHINÁ'
 'CAÑASGORDAS' 'PÁCORA' 'VISTAHERMOSA' 'SAN MARTÍN DE LOBA' 'AGUAZUL'
 'SUÁREZ' 'GUAMAL' 'ICONONZO' 'MUTATÁ' 'SAN ROQUE' 'ZONA BANANERA' 'UNE'
 'CALAMAR' 'PUENTE NACIONAL' 'CARTAGENA DEL CHAIRÁ' 'TURMEQUÉ' 'DABEIBA'
 'EL PIÑÓN' 'SANTA MARÍA' 'GÓMEZ PLATA' 'MONTECRISTO' 'BAGADÓ'
 'BARRANCO MINAS' 'BOJAYÁ' 'RAMIRIQUÍ' 'VALPARAÍSO' 'GUACHUCAL'
 'SARDINATA' 'CHITA' 'LA PALMA' 'FREDONIA' 'TADÓ' 'LÓPEZ DE MICAY'
 'CÉRTEGUI' 'ARAUQUITA' 'DIBULLA' 'CÓMBITA' 'LA CRUZ' 'PUERTO LIBERTADOR'
 'LLORÓ' 'RESTREPO' 'VENADILLO' 'RÍO VIEJO' 'ANSERMANUEVO' 'PUERTO BOYACÁ'
 'MERCADERES' 'SOCHA' 'LA PEDRERA' 'OTANCHE' 'NEIRA' 'GINEBRA' 'CONSACÁ'
 'PRADERA' 'EL CARMEN DE ATRATO' 'CUMARAL' 'GACHETÁ' 'LA TOLA' 'ATACO'
 'PURIFICACIÓN' 'SIMIJACA' 'EL PLAYÓN' 'MORALES' 'PEQUE' 'MUZO'
 'CAPITANEJO' 'EL COPEY' 'TIMBIQUÍ' 'TOCAIMA' 'ANAPOIMA'
 'PUERTO CONCORDIA' 'RICAURTE' 'PANA PANA' 'PLANADAS' 'CONVENCIÓN'
 'TAMALAMEQUE' 'TENERIFE' 'CARMEN DE APICALÁ' 'VIGÍA DEL FUERTE'
 'SITIONUEVO' 'PROVIDENCIA' 'CARURÚ' 'PUERTO WILCHES' 'MANATÍ'
 'SAN LUIS DE SINCÉ' 'UNGUÍA' 'EL ÁGUILA' 'SAN LUIS DE PALENQUE'
 'PUPIALES' 'CALIMA' 'SANTO DOMINGO' 'SAN JACINTO' 'LEIVA' 'OROCUÉ'
 'GACHALÁ' 'EL CARMEN DE CHUCURÍ' 'ARBELÁEZ' 'HATO COROZAL' 'EL CAIRO'
 'GUATEQUE' 'BUENOS AIRES' 'DONMATÍAS' 'SANTA ROSA DE VITERBO' 'ALMAGUER'
 'TANGUA' 'CHIRIGUANÁ' 'MIRITÍ - PARANÁ' 'CAPARRAPÍ' 'MONTERREY' 'ATRATO'
 'LA ARGENTINA' 'BAHÍA SOLANO' 'NUNCHÍA' 'LEJANÍAS' 'SANTUARIO' 'ARMERO'
 'MAGÜÍ' 'ACANDÍ' 'MEDIO SAN JUAN' 'SAMANÁ' 'PUEBLO BELLO' 'ARENAL'
 'MACEO' 'TUTA' 'MAPIRIPÁN' 'PIJAO' 'ABEJORRAL' 'PACOA'
 'UNIÓN PANAMERICANA' 'LA PRIMAVERA' 'MEDIO BAUDÓ' 'PAUNA' 'BUGALAGRANDE'
 'JURADÓ' 'TÁMARA' 'TORO' 'EL CANTÓN DEL SAN PABLO' 'TITIRIBÍ' 'CUCUTILLA'
 'GUACHENÉ' 'SOLITA' 'YAVARATÉ' 'PEDRAZA' 'GÜICÁN DE LA SIERRA'
 'CARMEN DEL DARIÉN' 'LA MERCED' 'TRINIDAD' 'TARAIRA' 'DOLORES'
 'SAN FELIPE' 'MAPIRIPANA' 'MORICHAL' 'EL ENCANTO' 'LA CHORRERA'
 'TARAPACÁ' 'CHIMÁ']
['BOGOTÁ D.C.' 'CALI' 'ARMENIA' ... 'NÓVITA' 'TARAPACÁ'
 'SAN JOSÉ DEL PALMAR']
['COLOMBIA' 'VENEZUELA' 'ECUADOR' 'GUATEMALA' 'ESPAÑA' 'ALEMANIA' 'INDIA'
 'BOLIVIA' 'REPÚBLICA DOMINICANA' 'ESTADOS UNIDOS' 'ARGENTINA' 'ARUBA'
 'MOZAMBIQUE' 'MÉXICO' 'HONDURAS' 'ITALIA' 'CHILE' 'AUSTRALIA' 'PERÚ'
 'FRANCIA' 'ESTADOS FEDERADOS DE MICRONESIA' 'SUIZA' 'NORUEGA' 'SUECIA'
 'EL SALVADOR' 'COSTA RICA' 'BRASIL' 'PORTUGAL' 'CUBA' 'HAITI' 'CANADÁ'
 'PANAMÁ' 'CHINA' 'PAÍSES BAJOS - HOLANDA' 'CURAZAO' 'BENÍN' 'PARAGUAY'
 'AZERBAIYÁN' 'CIUDAD DEL VATICANO' 'ESLOVAQUIA' 'NICARAGUA' None
 'VANUATU' 'REINO UNIDO' 'PUERTO RICO' 'INDONESIA' 'ZAMBIA'
 'COREA DEL SUR' 'HUNGRÍA' 'OMÁN' 'WALLIS Y FUTUNA' 'DINAMARCA'
 'SUDÁFRICA' 'CABO VERDE' 'GUYANA' 'SAN MARTIN - PARTE ALEMANA' 'URUGUAY'
 'ANDORRA' 'AUSTRIA' 'JAPÓN' 'COMORAS' 'NEPAL' 'TURQUÍA' 'TIMOR ORIENTAL'
 'EGIPTO']
['COLOMBIA' 'VENEZUELA' 'ECUADOR' 'GUATEMALA' 'ESPAÑA' 'ALEMANIA' 'INDIA'
 'BOLIVIA' 'REPÚBLICA DOMINICANA' 'ESTADOS UNIDOS' 'ARGENTINA' 'ARUBA'
 'MOZAMBIQUE' 'MÉXICO' 'HONDURAS' 'ITALIA' 'CHILE' 'AUSTRALIA' 'PERÚ'
 'FRANCIA' 'ESTADOS FEDERADOS DE MICRONESIA' 'SUIZA' 'NORUEGA' 'SUECIA'
 'EL SALVADOR' 'COSTA RICA' 'BRASIL' 'PORTUGAL' 'CUBA' 'HAITI' 'CANADÁ'
 'PANAMÁ' 'CHINA' 'PAÍSES BAJOS - HOLANDA' 'CURAZAO' 'BENÍN' 'PARAGUAY'
 'AZERBAIYÁN' 'CIUDAD DEL VATICANO' 'ESLOVAQUIA' 'NICARAGUA' None 'TOGO'
 'REPÚBLICA DEL CONGO' 'SUDÁN DEL SUR' 'URUGUAY' 'VANUATU']
['20241' '20242']
['NO OFICIAL' 'OFICIAL' None]
['F' 'M' None]
['URBANO' 'RURAL' None]

**Variables númericas Enteros**

In [10]:
print(df_mysql['estu_grado'].unique())


print(df_mysql['percentil_c_naturales'].unique())
print(df_mysql['percentil_global'].unique())
print(df_mysql['percentil_ingles'].unique())
print(df_mysql['percentil_lectura_critica'].unique())
print(df_mysql['percentil_matematicas'].unique())
print(df_mysql['percentil_sociales_ciudadanas'].unique())

print(df_mysql['punt_c_naturales'].unique())
print(df_mysql['punt_global'].unique())
print(df_mysql['punt_ingles'].unique())
print(df_mysql['punt_lectura_critica'].unique())
print(df_mysql['punt_matematicas'].unique())
print(df_mysql['punt_sociales_ciudadanas'].unique())

['11' '26' '10' None '25' '12']
['71' '22' '42' '68' '48' '99' '43' '93' '26' '74' '17' '100' '32' '85'
 '44' '96' '84' '81' '97' '28' '38' '61' '3' '87' '94' '8' '69' '62' '82'
 '39' '92' '54' '79' '64' '10' '23' '30' '50' '16' '34' '89' '98' '78'
 '19' '15' '31' '36' '59' '80' '66' '40' '63' '65' '4' '29' '76' '21' '6'
 '55' '88' '60' '67' '95' '33' '14' '58' '86' '49' '11' '77' '75' '2' '83'
 '13' '57' '25' '1' '70' '91' '35' '53' '41' '18' '9' '12' '45' '72' '5'
 '52' '7' '51' '27' '90' '56' '46' '24' '47' '20' '37' '73']
['79' '32' '23' '48' '47' '96' '97' '25' '93' '21' '100' '37' '73' '60'
 '84' '81' '99' '24' '44' '78' '2' '74' '9' '62' '88' '43' '46' '90' '38'
 '69' '18' '31' '58' '20' '55' '45' '12' '5' '95' '75' '11' '27' '28' '64'
 '76' '66' '54' '83' '68' '56' '67' '61' '94' None '41' '86' '82' '16' '3'
 '87' '70' '14' '65' '13' '71' '63' '39' '85' '10' '53' '98' '50' '40'
 '91' '8' '36' '52' '42' '34' '26' '33' '35' '89' '4' '72' '1' '15' '6'
 '22' '19' '92' '77' '59' '57' '7' '30' '51' '49' '17' '80' '29']
['89' '23' '44' '51' '63' '64' '40' '94' '24' '100' '14' '52' '87' '74'
 '84' '88' '35' '70' '3' '22' '82' '50' '65' '77' '41' '39' '31' '37' '34'
 '55' '53' '9' '93' '28' '91' '90' '58' '16' '83' '38' '5' '49' '76' '72'
 '66' '73' '81' '42' '62' '80' '60' None '48' '33' '12' '79' '30' '56'
 '71' '4' '54' '43' '13' '8' '18' '19' '69' '45' '46' '47' '21' '27' '68'
 '32' '25' '11' '6' '26' '95' '17' '86' '7' '59' '78' '15' '75' '85' '2'
 '92' '10' '20' '61' '29' '1' '57' '67' '36' '99' '96' '98' '97']
['78' '45' '23' '28' '46' '100' '49' '97' '29' '92' '98' '40' '75' '51'
 '88' '80' '93' '21' '41' '81' '3' '76' '96' '72' '30' '34' '90' '43' '86'
 '36' '73' '15' '47' '82' '50' '99' '14' '89' '6' '79' '11' '1' '68' '16'
 '35' '44' '57' '87' '53' '71' '55' '38' '77' '19' '18' '8' '7' '70' '66'
 '33' '64' '54' '56' '85' '67' '10' '9' '26' '37' '59' '17' '48' '52' '13'
 '61' '63' '20' '12' '65' '2' '69' '5' '94' '60' '91' '42' '58' '25' '95'
 '62' '31' '39' '84' '4' '32' '24' '83' '22' '27' '74']
['66' '47' '19' '39' '36' '88' '60' '95' '20' '86' '23' '87' '22' '51'
 '64' '100' '91' '93' '59' '69' '5' '78' '13' '53' '38' '40' '80' '58'
 '73' '35' '46' '68' '65' '16' '42' '55' '71' '48' '21' '1' '57' '85' '97'
 '96' '49' '9' '63' '8' '62' '43' '79' '70' '50' '72' '24' '89' '12' '18'
 '15' '30' '10' '67' '92' '45' '7' '84' '56' '75' '54' '4' '28' '31' '26'
 '32' '74' '29' '52' '27' '11' '61' '37' '82' '41' '90' '25' '94' '33'
 '17' '44' '34' '83' '81' '2' '14' '77' '3' '6' '98' '76' '99']
['91' '24' '6' '57' '50' '93' '39' '96' '31' '25' '90' '49' '60' '53' '87'
 '68' '62' '48' '95' '2' '100' '18' '55' '88' '64' '43' '94' '89' '38'
 '23' '29' '12' '30' '46' '41' '7' '97' '61' '99' '92' '8' '71' '36' '34'
 '79' '65' '85' '75' '77' '44' '52' '9' '81' '66' '83' '5' '15' '56' '22'
 '73' '20' '70' '19' '76' '51' '98' '13' '35' '82' '58' '78' '21' '32'
 '47' '74' '27' '16' '26' '86' '54' '63' '80' '84' '1' '10' '72' '14' '69'
 '17' '37' '4' '28' '45' '59' '33' '3' '40' '67' '11' '42']
['64' '43' '53' '63' '55' '78' '72' '45' '65' '41' '100' '48' '69' '74'
 '68' '67' '75' '46' '51' '60' '33' '70' '73' '36' '61' '58' '38' '44'
 '47' '56' '80' '40' '81' '49' '71' '76' '37' '66' '42' '50' '62' '34'
 '35' '77' '39' '59' '32' '28' '57' '52' '31' '54' '79' '30' '82' '29'
 '25' '0' '83' '27' '26' '22' '23' '24' '21']
['344' '250' '229' '286' '285' '382' '284' '384' '234' '371' '225' '412'
 '262' '334' '310' '418' '388' '352' '348' '408' '231' '278' '343' '161'
 '335' '424' '190' '313' '359' '287' '276' '361' '283' '365' '265' '326'
 '215' '248' '306' '220' '300' '280' '419' '200' '414' '176' '307' '377'
 '387' '337' '191' '197' '238' '241' '318' '339' '320' '299' '350' '360'
 '325' '324' '302' '301' '322' '333' '345' '375' '146' '272' '357' '211'
 '171' '358' '328' '206' '351' '323' '423' '203' '330' '316' '267' '216'
 '355' '193' '298' '389' '290' '402' '338' '356' '312' '268' '222' '188'
 '251' '260' '217' '199' '296' '273' '275' '254' '235' '253' '363' '240'
 '233' '257' '264' '292' '314' '173' '282' '331' '427' '221' '152' '319'
 '208' '180' '392' '175' '332' '259' '369' '366' '340' '223' '207' '315'
 '378' '311' '367' '309' '305' '329' '364' '202' '379' '205' '237' '184'
 '349' '336' '178' '279' '368' '230' '386' '255' '308' '186' '163' '303'
 '370' '155' '277' '227' '291' '182' '196' '373' '372' '185' '228' '374'
 '198' '219' '156' '201' '362' '247' '354' '209' '327' '317' '232' '293'
 '162' '289' '353' '169' '170' '212' '383' '295' '195' '269' '297' '226'
 '181' '391' '413' '321' '347' '142' '210' '274' '256' '218' '177' '189'
 '380' '385' '243' '266' '165' '411' '394' '242' '270' '174' '263' '410'
 '399' '341' '288' '153' '144' '252' '187' '258' '406' '249' '245' '192'
 '246' '168' '160' '346' '401' '304' '342' '398' '150' '214' '179' '167'
 '271' '420' '172' '157' '204' '244' '261' '281' '404' '236' '405' '409'
 '294' '407' '381' '194' '403' '390' '376' '395' '224' '213' '416' '145'
 '159' '396' '183' '166' '426' '158' '393' '239' '164' '446' '415' '154'
 '421' '417' '422' '137' '397' '149' '105' '437' '428' '425' '135' '473'
 '467' '148' '429' '400' '112' '435' '151' '452' '431' '450' '449' '143'
 '104' '138' '432' '147' '136' '477' '451' '115' '122' '448' '128' '439'
 '438' '440' '444' '445' '447' '430' '456' '139' '111' '140' '141' '100'
 '455' '453' '134' '106' '114' '132' '113' '466' '130' '93' '88' '102'
 '109' '129' '98' '108' '118' '443' '475' '472' '107' '133' '131' '491'
 '90' '119' '436' '463' '496' '462' '84' '121' '127' '465' '442' '480'
 '14' '441' '116' '117' '125' '13' '103' '434' '469' '493' '34' '464'
 '494' '59' '126' '87' '42' '120' '97' '433' '476' '0' '470' '95' '468'
 '471' '110' '123' '92' '78' '461' '492' '124' '73' '60' '96' '50' '80'
 '77' '495' '51' '71' '457' '89' '75' '10' '99' '454' '74' '94' '101' '47'
 '65' '39' '63' '20' '23' '43' '458' '55' '83' '53' '58' '82' '49' '52'
 '11' '459' '25' '460' '474' '41' '56' '16']
['84' '47' '61' '66' '74' '75' '58' '87' '48' '100' '41' '67' '79' '83'
 '55' '78' '31' '82' '65' '80' '57' '52' '56' '54' '69' '38' '86' '50'
 '85' '71' '43' '34' '64' '76' '77' '81' '59' '72' None '63' '51' '40'
 '70' '60' '33' '73' '68' '37' '32' '44' '53' '45' '46' '49' '36' '88'
 '42' '29' '39' '62' '28' '30' '35' '24' '26' '25' '27' '89' '0' '23']
['69' '58' '49' '51' '59' '81' '60' '77' '52' '74' '78' '57' '68' '61'
 '100' '72' '75' '48' '70' '35' '67' '54' '73' '55' '45' '80' '44' '38'
 '42' '30' '66' '62' '56' '28' '71' '47' '46' '34' '76' '39' '65' '64'
 '79' '63' '40' '41' '50' '43' '82' '31' '37' '53' '36' '29' '32' '27'
 '83' '33' '25' '23' '26' '0' '24' '22' '20' '21' '84' '19' '18']
['65' '57' '43' '53' '52' '74' '63' '79' '73' '45' '44' '59' '64' '84'
 '83' '76' '77' '100' '62' '66' '32' '70' '38' '60' '54' '71' '68' '51'
 '41' '55' '61' '67' '58' '25' '81' '80' '35' '34' '23' '46' '75' '42'
 '40' '49' '36' '56' '33' '72' '69' '29' '48' '47' '50' '37' '78' '39'
 '30' '19' '26' '31' '0' '27' '82' '24' '21' '28' '20' '22' '18' '85' '17'
 '16' '15' '86' '14' '13']
['72' '43' '33' '59' '56' '73' '51' '76' '47' '44' '60' '57' '70' '63'
 '61' '55' '75' '29' '100' '40' '58' '71' '53' '74' '50' '46' '36' '54'
 '52' '79' '37' '34' '64' '49' '67' '62' '69' '65' '66' '35' '68' '32'
 '38' '41' '78' '42' '45' '39' '80' '24' '31' '48' '30' '77' '28' '27'
 '23' '81' '25' '26' '82' '22' '21' '20' '19' '0' '17' '83' '18' '16' '14'
 '15' '84']

**Variables númericas Decimales**

In [11]:
print(df_mysql['estu_inse_individual'].unique())

['81.453896' '55.711433' '61.920422' ... '41.098202' '59.365536'
 '56.237228']

**Variables Binarias**

In [12]:
print(df_mysql['cole_bilingue'].unique())
print(df_mysql['fami_tienecomputador'].unique())
print(df_mysql['fami_tieneinternet'].unique())

['S' None 'N']
['Si' None 'No']
['Si' None 'No']

**Normalización Variables Categóricas Ordinales**

In [13]:
# helpers
def _norm(s):
    return (pd.Series(s, dtype="string").str.upper().str.strip()
            .str.replace("Á","A").str.replace("É","E").str.replace("Í","I")
            .str.replace("Ó","O").str.replace("Ú","U").str.replace("MÁS","MAS"))

def _cat_ord(col, cats):
    if col in df_mysql.columns:
        df_mysql[col] = _norm(df_mysql[col])
        df_mysql[col] = pd.Categorical(df_mysql[col],
                                    categories=[c.upper() for c in cats],
                                    ordered=True)

# ----- ORDINALES (texto) -----
_cat_ord("desemp_ingles", ["A-","A1","A2","B1","B+"])

_cat_ord("estu_dedicacioninternet", [
    "NO NAVEGA INTERNET","30 MINUTOS O MENOS","ENTRE 30 Y 60 MINUTOS",
    "ENTRE 1 Y 3 HORAS","MAS DE 3 HORAS",
])

_cat_ord("estu_dedicacionlecturadiaria", [
    "NO LEO POR ENTRETENIMIENTO","30 MINUTOS O MENOS","ENTRE 30 Y 60 MINUTOS",
    "ENTRE 1 Y 2 HORAS","MAS DE 2 HORAS",
])

_cat_ord("estu_horassemanatrabaja", [
    "0","MENOS DE 10 HORAS","ENTRE 11 Y 20 HORAS","ENTRE 21 Y 30 HORAS","MAS DE 30 HORAS",
])

for c in ["fami_comecarnepescadohuevo","fami_comecerealfrutoslegumbre","fami_comelechederivados"]:
    _cat_ord(c, [
        "NUNCA O RARA VEZ COMEMOS ESO","1 O 2 VECES POR SEMANA",
        "3 A 5 VECES POR SEMANA","TODOS O CASI TODOS LOS DIAS",
    ])

_cat_ord("fami_numlibros", ["0 A 10 LIBROS","11 A 25 LIBROS","26 A 100 LIBROS","MAS DE 100 LIBROS"])
_cat_ord("fami_personashogar", ["1 A 2","3 A 4","5 A 6","7 A 8","9 O MAS"])

# ----- Cuartos: por número (1..6) + "6 O MAS" -----
if "fami_cuartoshogar" in df_mysql.columns:
    s = _norm(df_mysql["fami_cuartoshogar"]).replace({
        "UNO":"1","DOS":"2","TRES":"3","CUATRO":"4","CINCO":"5","SEIS":"6","SEIS O MAS":"6 O MAS"
    })
    df_mysql["fami_cuartoshogar"] = pd.Categorical(
        s, categories=["1","2","3","4","5","6","6 O MAS"], ordered=True
    )

# ----- Estrato: categórica ordenada con etiquetas de texto -----
# Estrato: categórica ordenada 0..6 (0 = SIN ESTRATO)
s = (_norm(df_mysql["fami_estratovivienda"])
        .str.replace(r"^(ESTRATO\s*)?([1-6])$", r"\2", regex=True)
        .str.replace(r"^SIN\s*ESTRATO$", "0", regex=True))

df_mysql["fami_estratovivienda"] = pd.Categorical(
    s, categories=list("0123456"), ordered=True
)

# ----- Ordinales numéricos -> categoría ordenada -----
for c in ["estu_nse_individual","estu_nse_establecimiento",
            "desemp_c_naturales","desemp_lectura_critica",
            "desemp_matematicas","desemp_sociales_ciudadanas"]:
    if c in df_mysql.columns:
        s = pd.to_numeric(df_mysql[c], errors="coerce")
        df_mysql[c] = pd.Categorical(s, categories=sorted(s.dropna().unique()), ordered=True)

**Normalización Variables númericas Enteros y Decimales**

In [14]:
# ENTEROS: grado, percentiles y puntajes
int_cols = ["estu_grado"] + [c for c in df_mysql.columns if c.startswith("percentil_") or c.startswith("punt_")]
df_mysql[int_cols] = (
    df_mysql[int_cols]
        .apply(pd.to_numeric, errors="coerce")  # convierte texto a número
        .round()                                # por si hay algún decimal perdido
        .astype("Int64")                        # entero con NaN permitido
)

# DECIMAL: INSE individual
if "estu_inse_individual" in df_mysql.columns:
    df_mysql["estu_inse_individual"] = pd.to_numeric(df_mysql["estu_inse_individual"], errors="coerce").astype(float)

**Normalización Variables Binarias**

In [15]:
# Binarias -> 0/1 (Int64), preserva NaN/<NA>
bin_cols = ["cole_bilingue", "fami_tienecomputador", "fami_tieneinternet"]

pos = {"SI","S"}     # valores positivos
neg = {"NO","N"}     # valores negativos
m = {**{v: 1 for v in pos}, **{v: 0 for v in neg}}

for col in bin_cols:
    if col in df_mysql.columns:
        df_mysql[col] = _norm(df_mysql[col]).map(m).astype("Int64")

In [16]:
df_mysql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676508 entries, 0 to 676507
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        676508 non-null  object
 1   estu_estudiante                676508 non-null  object
 2   cole_area_ubicacion            577927 non-null  object
 3   cole_bilingue                  463331 non-null  Int64
 4   cole_calendario                577927 non-null  object
 5   cole_caracter                  549448 non-null  object
 6   cole_depto_ubicacion           577927 non-null  object
 7   cole_genero                    577927 non-null  object
 8   cole_jornada                   577927 non-null  object
 9   cole_mcpio_ubicacion           577927 non-null  object
 10  cole_naturaleza                577927 non-null  object
 11  desemp_c_naturales             676508 non-null  category
 12  desemp_ingles                  669200 non-null  category
 13  desemp_lectura_critica         676508 non-null  category
 14  desemp_matematicas             676508 non-null  category
 15  desemp_sociales_ciudadanas     676508 non-null  category
 16  estu_dedicacioninternet        513788 non-null  category
 17  estu_dedicacionlecturadiaria   514872 non-null  category
 18  estu_depto_presentacion        676489 non-null  object
 19  estu_depto_reside              672064 non-null  object
 20  estu_genero                    676505 non-null  object
 21  estu_grado                     579984 non-null  Int64
 22  estu_horassemanatrabaja        533934 non-null  category
 23  estu_inse_individual           515100 non-null  float64
 24  estu_mcpio_presentacion        676489 non-null  object
 25  estu_mcpio_reside              672064 non-null  object
 26  estu_nacionalidad              676507 non-null  object
 27  estu_nse_establecimiento       577911 non-null  category
 28  estu_nse_individual            515100 non-null  category
 29  estu_pais_reside               676507 non-null  object
 30  fami_comecarnepescadohuevo     514383 non-null  category
 31  fami_comecerealfrutoslegumbre  513378 non-null  category
 32  fami_comelechederivados        515204 non-null  category
 33  fami_cuartoshogar              533726 non-null  category
 34  fami_educacionmadre            515918 non-null  object
 35  fami_educacionpadre            516247 non-null  object
 36  fami_estratovivienda           636991 non-null  category
 37  fami_numlibros                 500816 non-null  category
 38  fami_personashogar             535049 non-null  category
 39  fami_tienecomputador           534021 non-null  Int64
 40  fami_tieneinternet             515811 non-null  Int64
 41  percentil_c_naturales          676508 non-null  Int64
 42  percentil_global               669200 non-null  Int64
 43  percentil_ingles               669200 non-null  Int64
 44  percentil_lectura_critica      676508 non-null  Int64
 45  percentil_matematicas          676508 non-null  Int64
 46  percentil_sociales_ciudadanas  676508 non-null  Int64
 47  punt_c_naturales               676508 non-null  Int64
 48  punt_global                    676508 non-null  Int64
 49  punt_ingles                    669200 non-null  Int64
 50  punt_lectura_critica           676508 non-null  Int64
 51  punt_matematicas               676508 non-null  Int64
 52  punt_sociales_ciudadanas       676508 non-null  Int64
dtypes: Int64(16), category(17), float64(1), object(19)
memory usage: 207.1+ MB

# **Tratamiento de Datos Nulos**

**Datos Nulos: Cantidad y Porcentaje por Variable**

In [17]:
# Conteo de datos nulos por columna
missing_counts = df_mysql.isnull().sum()
print(" Missing Value Counts per Column:")
display(missing_counts[missing_counts > 0].sort_values(ascending=False))

 Missing Value Counts per Column:

cole_bilingue                    213177
fami_numlibros                   175692
fami_comecerealfrutoslegumbre    163130
estu_dedicacioninternet          162720
fami_comecarnepescadohuevo       162125
estu_dedicacionlecturadiaria     161636
estu_inse_individual             161408
estu_nse_individual              161408
fami_comelechederivados          161304
fami_tieneinternet               160697
fami_educacionmadre              160590
fami_educacionpadre              160261
fami_cuartoshogar                142782
estu_horassemanatrabaja          142574
fami_tienecomputador             142487
fami_personashogar               141459
cole_caracter                    127060
estu_nse_establecimiento          98597
cole_genero                       98581
cole_depto_ubicacion              98581
cole_calendario                   98581
cole_area_ubicacion               98581
cole_mcpio_ubicacion              98581
cole_jornada                      98581
cole_naturaleza                   98581
estu_grado                        96524
fami_estratovivienda              39517
percentil_ingles                   7308
desemp_ingles                      7308
percentil_global                   7308
punt_ingles                        7308
estu_mcpio_reside                  4444
estu_depto_reside                  4444
estu_depto_presentacion              19
estu_mcpio_presentacion              19
estu_genero                           3
estu_nacionalidad                     1
estu_pais_reside                      1
dtype: int64

In [18]:
# % de valores nulos por columna
total_rows = len(df_mysql)
missing_percentage = (df_mysql.isnull().sum() / total_rows) * 100
print("\n Missing Value Percentage per Column:")
display(missing_percentage[missing_percentage > 0].sort_values(ascending=False))

 Missing Value Percentage per Column:

cole_bilingue                    31.511379
fami_numlibros                   25.970425
fami_comecerealfrutoslegumbre    24.113536
estu_dedicacioninternet          24.052931
fami_comecarnepescadohuevo       23.964979
estu_dedicacionlecturadiaria     23.892696
estu_inse_individual             23.858994
estu_nse_individual              23.858994
fami_comelechederivados          23.843620
fami_tieneinternet               23.753895
fami_educacionmadre              23.738078
fami_educacionpadre              23.689446
fami_cuartoshogar                21.105737
estu_horassemanatrabaja          21.074991
fami_tienecomputador             21.062131
fami_personashogar               20.910174
cole_caracter                    18.781744
estu_nse_establecimiento         14.574403
cole_genero                      14.572038
cole_depto_ubicacion             14.572038
cole_calendario                  14.572038
cole_area_ubicacion              14.572038
cole_mcpio_ubicacion             14.572038
cole_jornada                     14.572038
cole_naturaleza                  14.572038
estu_grado                       14.267976
fami_estratovivienda              5.841320
percentil_ingles                  1.080253
desemp_ingles                     1.080253
percentil_global                  1.080253
punt_ingles                       1.080253
estu_mcpio_reside                 0.656903
estu_depto_reside                 0.656903
estu_depto_presentacion           0.002809
estu_mcpio_presentacion           0.002809
estu_genero                       0.000443
estu_nacionalidad                 0.000148
estu_pais_reside                  0.000148
dtype: float64

**Imputación/eliminación de registros**

Usamos metodos de regresión y medidas de tendencia central para poder imputar los valores nulos en las variables que tienen más del 10% de valores Nulos. Para las variables tengan menos del 10% en valores nulos, estos registros son eliminados.

Esto se hace para evitar la pérdida de una gran cantidad de información y, sobre todo, prevenir sesgos en los resultados descriptivos.

Predictores usados para imputar: todos los percentil_*, todos los punt_*, estu_grado, y fami_estrato_num (derivado numérico de fami_estratovivienda). Los NA en predictores se rellenan con medianas en X_all sólo para entrenar/predecir (no se escriben al DF).

* Binarias (cole_bilingue, fami_tienecomputador, fami_tieneinternet) → Logística (liblinear, class_weight='balanced').

* Ordinales (lista de las v ordinales) → Ridge sobre códigos 0..K-1 + redondeo y mapeo a la categoría (respeta el orden).

* Continua (estu_inse_individual) → Ridge.

* Nominales (cole_* / fami_educacionmadre/padre) → (Nulo por “DESCONOCIDO”).

* estu_grado → se mantiene y sus NA se imputan por moda.
(estu_grado es numérica discreta con estos valores {10,11,12,25,26}.
No tiene sentido crear un “desconocido” numérico; Asignamos un valor existente.
Usamos moda porque es lo más simple y estable (y coincide con la mediana ≈ 11).)

In [26]:
# ===== COPIA DE TRABAJO =====
df_mysql_2 = df_mysql.copy(deep=True)

# --- normalizador corto (acentos y mayúsculas) ---
def _norm(s):
    return (pd.Series(s, dtype="string").str.upper().str.strip()
            .str.replace("Á","A").str.replace("É","E").str.replace("Í","I")
            .str.replace("Ó","O").str.replace("Ú","U").str.replace("MÁS","MAS"))

# Asegurar dtype CATEGÓRICO ORDENADO en columnas que a veces llegan como object
ord_defs = {
    "fami_comecarnepescadohuevo": [
        "NUNCA O RARA VEZ COMEMOS ESO","1 O 2 VECES POR SEMANA",
        "3 A 5 VECES POR SEMANA","TODOS O CASI TODOS LOS DIAS"
    ],
    "fami_personashogar": ["1 A 2","3 A 4","5 A 6","7 A 8","9 O MAS"],
}
for col, cats in ord_defs.items():
    if col in df_mysql_2.columns:
        df_mysql_2[col] = pd.Categorical(
            _norm(df_mysql_2[col]),
            categories=[c.upper() for c in cats],
            ordered=True
        )

# ===== PREDICTORES BASE (rápidos) =====
df_mysql_2["fami_estrato_num"] = pd.to_numeric(
    df_mysql_2["fami_estratovivienda"].astype("string"), errors="coerce"
)
base = [c for c in df_mysql_2.columns if c.startswith("percentil_") or c.startswith("punt_")]
base += ["estu_grado","fami_estrato_num"]
base = [c for c in base if c in df_mysql_2.columns]

X_all = df_mysql_2[base].astype("float32")
X_all = X_all.fillna(X_all.median(numeric_only=True))
def X(mask): return X_all.loc[mask]

# ===== COLUMNAS A IMPUTAR (>20% nulos) =====
binarias = ["cole_bilingue", "fami_tienecomputador", "fami_tieneinternet"]
ordinales = [
    "fami_numlibros","fami_comecerealfrutoslegumbre","fami_comelechederivados",
    "fami_cuartoshogar","estu_horassemanatrabaja",
    "estu_dedicacioninternet","estu_dedicacionlecturadiaria",
    "estu_nse_establecimiento","estu_nse_individual",
    "fami_comecarnepescadohuevo","fami_personashogar",
]
continua = "estu_inse_individual"

def stratified_idx(y, max_n):
    if len(y) <= max_n: 
        return y.index
    frac = max_n / len(y)
    return (y.to_frame("y")
                .groupby("y", group_keys=False)
                .apply(lambda g: g.sample(frac=frac, random_state=1))
                .index)

# ===== BINARIAS -> LOGÍSTICA =====
MAX_BIN_TRAIN = 80_000
for col in binarias:
    if col not in df_mysql_2: 
        continue
    m_tr = df_mysql_2[col].notna(); m_pr = df_mysql_2[col].isna()
    if m_tr.sum()==0 or m_pr.sum()==0:
        continue
    y = df_mysql_2.loc[m_tr, col].astype(int)
    clf = LogisticRegression(solver="liblinear", class_weight="balanced", max_iter=200)
    idx = stratified_idx(y, MAX_BIN_TRAIN)
    clf.fit(X(m_tr).loc[idx], y.loc[idx])
    p = clf.predict_proba(X(m_pr))[:,1]
    df_mysql_2.loc[m_pr, col] = pd.Series((p>=0.5).astype(np.int8),
                                            index=df_mysql_2.index[m_pr],
                                            dtype="Int64")

# ===== ORDINALES -> RIDGE (0..K-1 y redondeo) =====
MAX_ORD_TRAIN = 60_000
for col in ordinales:
    if col not in df_mysql_2 or not isinstance(df_mysql_2[col].dtype, CategoricalDtype):
        continue
    codes = df_mysql_2[col].cat.codes.replace(-1, np.nan)
    m_tr = codes.notna(); m_pr = codes.isna()
    if m_tr.sum()==0 or m_pr.sum()==0:
        continue
    y = codes.loc[m_tr].astype(float)
    reg = Ridge(alpha=1.0)
    idx = stratified_idx(y.astype(int), MAX_ORD_TRAIN)
    reg.fit(X(m_tr).loc[idx], y.loc[idx])
    pred = np.rint(reg.predict(X(m_pr))).astype(int)
    cats = list(df_mysql_2[col].cat.categories)
    pred = np.clip(pred, 0, len(cats)-1)
    yhat = pd.Categorical([cats[i] for i in pred], categories=cats, ordered=True)
    df_mysql_2.loc[m_pr, col] = yhat

# ===== CONTINUA -> RIDGE =====
if continua in df_mysql_2:
    m_tr = df_mysql_2[continua].notna(); m_pr = df_mysql_2[continua].isna()
    if m_tr.sum()>0 and m_pr.sum()>0:
        reg = Ridge(alpha=1.0)
        reg.fit(X(m_tr), df_mysql_2.loc[m_tr, continua].astype(float))
        df_mysql_2.loc[m_pr, continua] = reg.predict(X(m_pr)).astype(float)

# ===== NOMINALES (cole_* y padres) -> SOLO "DESCONOCIDO" =====
nom_coles = [
    "cole_caracter","cole_area_ubicacion","cole_calendario","cole_depto_ubicacion",
    "cole_genero","cole_jornada","cole_mcpio_ubicacion","cole_naturaleza",
]
parents = ["fami_educacionmadre","fami_educacionpadre"]
all_nominals = nom_coles + parents

for col in all_nominals:
    if col not in df_mysql_2.columns:
        continue

    if col in parents:
        # padres: normalizo y dejo como categórico NOMINAL
        s = _norm(df_mysql_2[col]).astype("string").fillna("DESCONOCIDO")
        df_mysql_2[col] = pd.Categorical(s, ordered=False)
    else:
        # cole_*: solo rellenar NA con "DESCONOCIDO", respetando dtype
        if isinstance(df_mysql_2[col].dtype, CategoricalDtype):
            df_mysql_2[col] = df_mysql_2[col].cat.add_categories(["DESCONOCIDO"]).fillna("DESCONOCIDO")
        else:
            df_mysql_2[col] = df_mysql_2[col].astype("string").fillna("DESCONOCIDO")

# ===== estu_grado -> moda (Int64) =====
if "estu_grado" in df_mysql_2.columns:
    g_mode = df_mysql_2["estu_grado"].mode(dropna=True)
    if not g_mode.empty:
        df_mysql_2["estu_grado"] = (
            df_mysql_2["estu_grado"].fillna(g_mode.iloc[0]).astype("Int64")
        )

# limpiar helper
df_mysql_2.drop(columns=["fami_estrato_num"], errors="ignore", inplace=True)

C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))
C:\Users\braya\AppData\Local\Temp\ipykernel_20836\804491017.py:55: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.sample(frac=frac, random_state=1))

In [27]:
# % de valores nulos por columna
total_rows = len(df_mysql_2)
missing_percentage = (df_mysql_2.isnull().sum() / total_rows) * 100
print("\n Missing Value Percentage per Column:")
display(missing_percentage[missing_percentage > 0].sort_values(ascending=False))

 Missing Value Percentage per Column:

fami_estratovivienda       5.841320
desemp_ingles              1.080253
punt_ingles                1.080253
percentil_global           1.080253
percentil_ingles           1.080253
estu_mcpio_reside          0.656903
estu_depto_reside          0.656903
estu_depto_presentacion    0.002809
estu_mcpio_presentacion    0.002809
estu_genero                0.000443
estu_pais_reside           0.000148
estu_nacionalidad          0.000148
dtype: float64

In [28]:
df_mysql_2.head(25)

,periodo,estu_estudiante,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_mcpio_ubicacion,...,percentil_ingles,percentil_lectura_critica,percentil_matematicas,percentil_sociales_ciudadanas,punt_c_naturales,punt_global,punt_ingles,punt_lectura_critica,punt_matematicas,punt_sociales_ciudadanas
0,20241,ESTUDIANTE,URBANO,1,B,ACADÉMICO,BOGOTÁ,FEMENINO,COMPLETA,BOGOTÁ D.C.,...,89,78,66,91,64,344,84,69,65,72
1,20241,ESTUDIANTE,URBANO,1,A,DESCONOCIDO,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,23,45,47,24,43,250,47,58,57,43
2,20241,ESTUDIANTE,URBANO,1,B,DESCONOCIDO,BOGOTÁ,MIXTO,UNICA,BOGOTÁ D.C.,...,44,23,19,6,53,229,61,49,43,33
3,20241,ESTUDIANTE,URBANO,0,B,TÉCNICO/ACADÉMICO,VALLE,MIXTO,TARDE,CALI,...,51,28,39,57,63,286,66,51,53,59
4,20241,ESTUDIANTE,URBANO,1,B,DESCONOCIDO,BOGOTÁ,MIXTO,UNICA,BOGOTÁ D.C.,...,63,46,36,50,55,285,74,59,52,56
5,20241,ESTUDIANTE,URBANO,0,B,ACADÉMICO,QUINDIO,MIXTO,COMPLETA,ARMENIA,...,64,100,88,93,78,382,75,81,74,73
6,20241,ESTUDIANTE,URBANO,0,B,ACADÉMICO,VALLE,MIXTO,COMPLETA,CALI,...,40,49,60,39,53,284,58,60,63,51
7,20241,ESTUDIANTE,RURAL,0,B,ACADÉMICO,CUNDINAMARCA,MIXTO,COMPLETA,CAJICÁ,...,94,97,95,96,72,384,87,77,79,76
8,20241,ESTUDIANTE,URBANO,1,OTRO,DESCONOCIDO,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,24,29,20,31,45,234,48,52,43,47
9,20241,ESTUDIANTE,URBANO,1,OTRO,DESCONOCIDO,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,100,92,86,96,65,371,100,74,73,76
10,20241,ESTUDIANTE,URBANO,0,A,ACADÉMICO,NARIÑO,MIXTO,SABATINA,IPIALES,...,14,28,23,25,41,225,41,51,45,44
11,20241,ESTUDIANTE,URBANO,1,B,ACADÉMICO,ANTIOQUIA,MIXTO,COMPLETA,ENVIGADO,...,100,98,87,90,100,412,100,78,74,72
12,20241,ESTUDIANTE,URBANO,1,OTRO,DESCONOCIDO,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,52,40,22,49,48,262,67,57,44,56
13,20241,ESTUDIANTE,URBANO,1,OTRO,DESCONOCIDO,BOGOTÁ,MIXTO,SABATINA,BOGOTÁ D.C.,...,100,75,51,60,69,334,100,68,59,60
14,20241,ESTUDIANTE,URBANO,1,B,ACADÉMICO,BOGOTÁ,MIXTO,COMPLETA,BOGOTÁ D.C.,...,100,51,64,53,53,310,100,61,64,57
15,20241,ESTUDIANTE,URBANO,1,A,ACADÉMICO,BOGOTÁ,MIXTO,MAÑANA,BOGOTÁ D.C.,...,87,100,100,96,74,418,84,100,84,76
16,20241,ESTUDIANTE,RURAL,1,B,ACADÉMICO,VALLE,MIXTO,COMPLETA,YUMBO,...,100,98,100,87,72,388,100,78,83,70
17,20241,ESTUDIANTE,URBANO,0,A,ACADÉMICO,BOGOTÁ,MIXTO,MAÑANA,BOGOTÁ D.C.,...,74,88,91,68,68,352,79,72,76,63
18,20241,ESTUDIANTE,URBANO,0,B,ACADÉMICO,VALLE,MIXTO,UNICA,CALI,...,84,80,93,62,67,348,83,69,77,61
19,20241,ESTUDIANTE,URBANO,1,B,ACADÉMICO,BOGOTÁ,MIXTO,COMPLETA,BOGOTÁ D.C.,...,88,93,100,96,75,408,84,75,100,76
20,20241,ESTUDIANTE,URBANO,0,B,TÉCNICO/ACADÉMICO,VALLE,MIXTO,TARDE,CALI,...,35,21,20,25,46,231,55,48,44,44
21,20241,ESTUDIANTE,URBANO,1,A,DESCONOCIDO,CORDOBA,MIXTO,SABATINA,MONTERÍA,...,23,41,59,48,51,278,47,57,62,55
22,20241,ESTUDIANTE,URBANO,1,B,ACADÉMICO,VALLE,MIXTO,MAÑANA,PALMIRA,...,70,81,69,95,60,343,78,70,66,75
23,20241,ESTUDIANTE,RURAL,0,A,DESCONOCIDO,BOLIVAR,MIXTO,SABATINA,TURBACO,...,3,3,5,2,33,161,31,35,32,29
24,20241,ESTUDIANTE,URBANO,0,B,ACADÉMICO,CAUCA,MIXTO,COMPLETA,POPAYÁN,...,51,76,78,60,70,335,66,68,70,60

**Eliminación de nulos**

In [29]:
# 1.) Tamaño antes
print("Antes:", df_mysql_2.shape)

# 2) Eliminar filas con cualquier NaN (sin tocar df_mysql2)
data_transformed = df_mysql_2.dropna().copy()

# 3) Reporte de pérdida vs. df_mysql2
print("Después (dropna global):", data_transformed.shape)
perdidas = len(df_mysql_2) - len(data_transformed)
pct = perdidas / len(df_mysql_2) * 100


print(f"Filas eliminadas: {perdidas} ({pct:.2f}%)")

Antes: (676508, 53)
Después (dropna global): (626339, 53)
Filas eliminadas: 50169 (7.42%)

In [ ]:
Path("../data_transformed").mkdir(parents=True, exist_ok=True)
data_transformed.to_csv("../data_transformed/data_icfes_2024.csv", index=False)
#data_transformed.to_excel("../data_transformed/data_icfes_2024.xlsx", index=False)

# **Estadisticas de limpieza**

In [42]:
# Columnas 
cols_ini  = 84
cols_fin  = df_mysql_2.shape[1]
cols_elim = cols_ini - cols_fin
pct_cols  = (cols_elim / cols_ini) * 100

# Filas 
filas_ini  = df_mysql_2.shape[0]
filas_fin  = data_transformed.shape[0]
filas_elim = filas_ini - filas_fin
pct_filas  = (filas_elim / filas_ini) * 100

# Resumen
print("📊 Resumen de limpieza")
print(f"- Columnas: {cols_ini} originales → {cols_elim} eliminadas ({pct_cols:.2f}%) → {cols_fin} finales")
print(f"- Filas: {filas_ini:,} originales → {filas_elim:,} eliminadas ({pct_filas:.2f}%) → {filas_fin:,} finales")

📊 Resumen de limpieza
- Columnas: 84 originales → 31 eliminadas (36.90%) → 53 finales
- Filas: 676,508 originales → 50,169 eliminadas (7.42%) → 626,339 finales

# **Inserción**

**Conexión con MySQL y creación de new DATABASE**

In [33]:
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS icfes_transformed;"))


new_db = "icfes_transformed"
url_new = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{new_db}"
engine_new = create_engine(url_new)

**Inserción de datos**

In [34]:

data_transformed.to_sql(
    "data_transformed",
    con=engine_new,
    if_exists="replace",
    index=False,
    chunksize=10000
)


rows, cols = data_transformed.shape
print(f"✅ Data insertada en {new_db}.data_transformed")
print(f"📊 Filas insertadas: {rows:,} | Columnas insertadas: {cols}")

✅ Data insertada en icfes_transformed.data_transformed
📊 Filas insertadas: 626,339 | Columnas insertadas: 53